<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header id="header" th:fragment="header">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="logo">
                    <h1 class="text-light">
                        <!-- Uncomment below if you prefer to use an image logo -->
                        <a th:href="@{/}"><img src="/assets/img/Lanuan sis.png" alt="" class="img-fluid"></a>
                </div>
                <div class="contact-link float-right">
                    <a th:href="@{/lanuan}" class="scrollto" id="inicio-menu">Inicio</a>
                </div>
                <div class="contact-link float-right">
                    <a th:href="@{/lanuan/carrusel}" class="scrollto" id="carrusel-menu">Carrusel</a>
                </div>
                <div class="contact-link float-right">
                    <a th:href="@{/lanuan/servicios}" class="scrollto" id="servicios-menu">Servicios</a>
                </div>
                <div class="contact-link float-right">
                    <a th:href="@{/lanuan/contacto}" class="scrollto" id="contacto-menu">Contacto</a>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <form class="d-flex justify-content-center" method="post" th:action="@{/logout}"><button class="btn text-light" type="submit" >SALIR</button></form>
                </div>
            </div>

        </header>

        <footer id="footer" th:fragment="footer">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span> | </span></strong>Todos los derechos Reservados
                </div>
            </div>
        </footer>
    </body>
</html>
