<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>LANUAN</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="/assets/img/Lanuan sis.png" rel="icon">
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="/assets/css/style.css" rel="stylesheet">

        <!-- =======================================================
        * Template Name: ComingSoon - v4.6.0
        * Template URL: https://bootstrapmade.com/comingsoon-free-html-bootstrap-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" th:replace="layout/plantilla :: header"></header>
        <!-- End #header -->
        
        <!-- ======= Main ======= -->
        <main id="main">
            <section id="contact" class="contact">
                <div class="container">
                    <div class="section-title">
                        <h2>Modificar Inicio</h2>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <form th:action="@{/Actualizar_Inicio}" method="post" role="form" class="php-email-form" th:object="${inicio}">
                                <div class="row">
                                    <div class="form-group mt-3">
                                        <label for="bienvenida">Bienvenida</label>
                                        <textarea class="form-control" name="bienvenida" rows="5" maxlength="500" placeholder="Message" th:field='*{bienvenida}' required></textarea>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="mision">Mision</label>
                                        <textarea class="form-control" name="mision" rows="5" maxlength="500" placeholder="Message" th:field='*{mision}' required></textarea>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="vision">Vision</label>
                                        <textarea class="form-control" name="vision" rows="5" maxlength="500" placeholder="Message" th:field='*{vision}' required></textarea>
                                    </div>
                                    <div class="my-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div class="text-center"><button type="submit" class="btn btn-primary">Actualizar</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer" th:replace="layout/plantilla :: footer"></footer>
        <!-- End #footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js"></script>

    </body>

</html>