<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>SERVICIOS</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="/assets/img/Lanuan sis.png" rel="icon">
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
            rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="/assets/css/style.css" rel="stylesheet">

        <!-- =======================================================
      * Template Name: ComingSoon - v4.6.0
      * Template URL: https://bootstrapmade.com/comingsoon-free-html-bootstrap-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ======================================================== -->
    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" th:replace="layout/plantilla :: header"></header>
        <!-- End #header -->
        <main id="main">
            <section id="contact" class="contact">
                <div class="container">
                    <div class="section-title">
                        <h2>Servicios</h2>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="php-email-form">
                                <div class="row" th:if="${servicios != null and !servicios.empty}">
                                    <div class="card" style="width: 15rem;" th:each="servicio : ${servicios}">
                                        <img class="card-img-top" th:src="${servicio.foto}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${servicio.nombre}"></h5>
                                            <p class="card-text" th:text="${servicio.descripcion}"></p>
                                            <a th:href="@{/lanuan/servicios/modificar_servicio/} + ${servicio.id_servicio}" class="btn btn-primary">Editar</a>
                                            <button type="button" class="btn btn-danger" th:attr="onclick=|eliminarServicio('${servicio.getId_servicio()}','${servicio.getFoto()}')|">Borrar</button>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${servicios == null or servicios.empty}" class="p-3 alert alert-danger" role="alert">
                                    No hay servicios registrados en el sistema. 
                                </div>
                                <div class="text-center py-5">
                                    <a th:href="@{/lanuan/servicios/agregar_servicio}" class="btn btn-primary">Nuevo Servicio</a>
                                    <a th:href="@{/lanuan}" class="btn btn-secondary">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </section><!-- End Contact Us Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer" th:replace="layout/plantilla :: footer"></footer>
        <!-- End #footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js"></script>
        
        <script type="text/javascript" src="/assets/js/firebase-app.js"></script>
        <script type="text/javascript" src="/assets/js/firebase-auth.js"></script>
        <script type="text/javascript" src="/assets/js/firebase-storage.js"></script>
        <script type="text/javascript" src="/assets/js/firebase.js"></script>

    </body>

</html>